@use "abstract/mixin" as m;
@use "abstract/variable" as v;

.class {
  padding: 5rem 0;
  background-color: v.$grey;
  &__title {
    @include m.title;
  }
  &__wrapper {
    @include m.screen("md") {
      @include m.grid(2, 2rem);
     
    }
    @include m.screen("lg") {
      @include m.grid(3, 2rem);
    }
  }
}
.lesson {
  border: 1px solid darken($color: v.$grey, $amount: 10%);
  background-color: v.$white;
  &__meta {
    background-color: v.$primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: v.$white;
  }
  &__name{
    min-height: 5rem;
  }
  &__price {
    background-color: v.$secondary;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: v.$black;
    border-radius: 0.5rem;
  }
  &__content {
    padding: 2rem;
  }
  &__description {
    color: v.$primary;
  }
  &__link {
    @include m.button(v.$primary, v.$white);
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
  }
}
