//
// / variable
//

// font variable
$font-primary: 'Roboto', sans-serif;


// media queries
//  smartphones
$sm: 480px;

//  tablets
$md: 768px;

// desktops
$lg: 1024px;
// desktops
$xl: 1200px;
// Color variables
$primary:   #f46669;
$secondary:#c7c57d;


$black: #000000;
$white: #ffffff;
$grey:  #f5f5f5;
